
.MainBannerImage {
    height: auto;
    max-width: 100%;
}


.MainBannerText1 {
    position: absolute;
    top: 75px;
    width: 100%;
}

.MainBannerText1A {
    color: white;
    font: bold 30px/50px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10px;
}


.MainBannerText2 {
    position: absolute;
    top: 18px;
    width: 100%;
}

.MainBannerText2A {
    color: orange;
    font: bold 25px/30px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    padding: 10px;
}



.content {

    margin-top: 10px;
    padding: 12px;
    text-align:center;
}

.footer {
  background: blue;
  font-size: 20px;
  color: white;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
Nav {
    width: 52%;
    margin: 0 auto;

    background-color: rgb(10,10,100, 0.8);
    text-align: center;
    font-size: 20px;
}

.NavBarLinks {
    margin: 10px;
    color: orange;
}

    .NavBarLinks:hover {
        color: red;
    }
