
.MainBannerImage {
    height: auto;
    max-width: 100%;
}

.header {
    background-color: rgb(128 128 128);
}
.content {
    background-color: rgb(128 128 128);
    padding: 12px;
    text-align: center;
}
.content-contact {
    background-color: rgb(128 128 128);
    padding: 12px;
    text-align: center;
}

.content-about {
    background-color: rgb(128 128 128);
    text-align: center;
    padding: 12px;
    padding-bottom: 10%;
    padding-right: 15%;
    padding-left: 15%;
}
.content-connect {
    background-color: rgb(128, 128, 128);
    text-align: center;
    width: 100%;
    padding-bottom: 35%;
}
@media only screen and (min-width: 600px) {
    .content-connect {
        padding-bottom: 28%;
    }
}
.footer {
    justify-content: center;
    background: #007bff;
    font-size: 15px;
    color: white;
    padding-top: 20px;
    border-top: 1px solid #E7E7E7;
    text-align: center;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}

p {
    font-family:serif;
    font-size:large;
    font-weight:600;
}

Nav {
    background-color: rgb(10,10,100, 0.8);
    text-align: center;
    font-size: 20px;
}

/*
@media only screen and (min-width: 600px) {
    nav {
        margin: 0 auto;
        width: 51%;
    }
}*/

.NavBarLinks {
    margin: 10px;
    color: orange;
}

    .NavBarLinks:hover {
        color: red;
    }
